<!DOCTYPE html>
<html data-wf-domain="foody-onepage.webflow.io" data-wf-page="6236be9ba96406d5d2e400f9"
    data-wf-site="6236be9ba964064c0ce400f8">
<head>
    <meta charset="utf-8" />
    <title>Foodu</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../asset/public/css/index.css"
        rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"
        integrity="sha512-v/wOVTkoU7mXEJC3hXnw9AA6v32qzpknvuUF6J2Lbkasxaxn2nYcl+HGB7fr/kChGfCqubVr1n2sq1UFu3Gh1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script
        type="text/javascript">WebFont.load({ google: { families: ["Oswald:200,300,400,500,600,700"] } });</script>
    <script
        type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
    <link href="../asset/public/foodie.png"
        rel="shortcut icon" type="image/x-icon" />
    <link href="../asset/public/FoodieLogo.png"
        rel="apple-touch-icon" />
</head>

<body>
    <div class="hero-section wf-section">
        <div class="header">
            <div class="container w-container">
                <div data-w-id="ad1c384f-735a-448d-e8be-076dc418fc52" data-animation="default" data-collapse="medium"
                    data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
                    <div class="nav-wrapper"><a href="index.html" aria-current="page"
                            class="brand w-nav-brand w--current"><img
                                src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/623c84bf68a61e15ee728c95_Foody.svg"
                                loading="lazy" alt="Logo" /></a>
                        <nav role="navigation" class="nav-menu w-nav-menu">
                            <div class="nav-link-block"><a href="#home" class="nav-link w-nav-link">HOME</a><a
                                    href="index.html#about-us" class="nav-link w-nav-link">ABOUT US</a><a
                                    href="index.html#service" class="nav-link w-nav-link">SERVICES</a><a
                                    href="index.html#team" class="nav-link w-nav-link">TEAM</a><a
                                    href="index.html#reservation" class="nav-link w-nav-link">RESERVATION</a><a
                                    href="#review" class="nav-link last w-nav-link">REVIEW</a></div><a
                                href="index.html#menu" class="primary-btn w-button">Our Menu</a>
                        </nav>
                        <div class="menu-button w-nav-button">
                            <div class="top-line"></div>
                            <div class="middle-line"></div>
                            <div class="bottom-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-wrapper">
            <div id="home" class="hero-block">
                <h2 class="hero-title">Delicious</h2>
                <div class="mid-title">
                    <h2 class="hero-title middle">Food</h2><img
                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/623c8bc2b900737ca41f2f20_title-line.svg"
                        loading="lazy" alt="Title Icon" class="title-line" />
                </div>
                <h2 class="hero-title right">Dishes</h2><img
                    src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/623c8d03dc7b8e77705cde9a_label.svg"
                    loading="lazy" alt="Title Label" class="hero-lable" />
                <div class="hero-image"><img
                        src="../asset/public/cookies.png"
                        loading="eager" width="260" alt="Hero Image" />
                    <div data-w-id="6715541e-cc76-78af-b6a2-63ddbe8389d5" class="bg-placeholder"></div>
                </div>
                <div class="hero-image two"><img
                        src="../asset/public/burger.png"
                        loading="eager" width="260" alt="Hero image" />
                    <div data-w-id="e0af2f33-87c7-fe83-c70a-cf4ca481bd31" class="bg-placeholder"></div>
                </div>
                <h1 class="d-none">Delicious Food Dishes</h1>
            </div>
        </div>
    </div>
    <div id="about-us" class="about-section wf-section">
        <div class="container w-container">
            <div class="about-wrapper">
                <div class="about-content">
                    <h2>About us</h2>
                    <div class="sub-head">The only thing we’re serious about is Meal.</div>
                    <p class="mb50">Fusce quam praesent enim enim. Arcu ornare maecenas mauris tellus ut mollis. Laoreet
                        enim amet donec nulla risus erat sed. Scelerisque ac cum nulla massa ultricies etiam augue
                        justo, amet. Fermentum ac viverra tincidunt neque, tristique duis nunc lacus quam. Pharetra, in
                        pharetra</p><a href="#menu" class="primary-btn arrow w-button">Explore Menu</a>
                </div>
                <div class="about-image"><img
                        src="../asset/public/boiledEggs.png"
                        loading="lazy" width="550" sizes="(max-width: 479px) 91vw, (max-width: 991px) 400px, 47vw"
                        srcset="../asset/public/boiledEggs.png 500w, ../asset/public/boiledEggs.png 1100w"
                        alt="Dish image" /></div>
            </div>
        </div>
    </div>
    <div class="all-sections wf-section">
        <div class="container w-container">
            <div id="service" class="service-wrapper">
                <div id="w-node-_1378a95b-c344-7be0-3c24-49a25b9ddb0b-d2e400f9" class="service-block"><img
                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/6247f8589cd00292a118f540_quality food.svg"
                        loading="lazy" alt="Food Quality icon" class="service-image" />
                    <h4>Quality Food</h4>
                    <p>Cras faucibus sodales velit viverra donec commodo volutpat. At integer quam fusce sit.</p>
                </div>
                <div id="w-node-d3b55f37-7f1e-51e5-df83-2714513b1840-d2e400f9" class="service-block"><img
                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/6247f93205d4f44beee3d81c_Super Taste.svg"
                        loading="lazy" alt="Super Taste icon" class="service-image" />
                    <h4>Super Taste</h4>
                    <p>Ipsum tempus sed sit tincidunt sed adipiscing semper natoque. Est id praesent libero egestas.</p>
                </div>
                <div id="w-node-_855c4746-ce34-8dd2-d97b-f7ca64f6bfc3-d2e400f9" class="service-block"><img
                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/6247f93cfe9d3c2aa4fffcf5_Fast Delivery.svg"
                        loading="lazy" alt="Delivery Icon" class="service-image" />
                    <h4>Fast Delivery</h4>
                    <p>At porttitor varius elementum pretium. Felis, eget sed ipsum sed cursus ipsum blandit tortor
                        praesent.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-dish-section wf-section">
        <div class="container w-container">
            <div id="menu">
                <div class="title-block">
                    <h2>Popular Dishes</h2>
                    <p>Morbi in sed enim viverra aenean amet. A commodo nunc mauris, in accumsan facilisi montes, neque
                        venenatis.</p>
                </div>
                <div class="w-dyn-list">
                    <div role="list" class="dish-wrapper w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <div id="w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9"
                                data-w-id="8ffb550a-e009-04d3-1acc-15e35ddfe294" class="dish-inner-block">
                                <div id="w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9" class="dish-image"><img
                                        src="../asset/images/foods.png"
                                        loading="lazy"
                                        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                        alt="Beef burger meal"
                                        sizes="(max-width: 479px) 97.359375px, (max-width: 991px) 22vw, 23vw"
                                        srcset="../asset/images/foods.png 500w, ../asset/images/foods.png 612w"
                                        class="dish-img" />
                                    <div class="dish-tag">Lunch</div>
                                </div>
                                <h4 class="dish-inner-title">Beef burger meal</h4>
                                <div class="time-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62480687056b7f14f2e440e8_time.svg"
                                        loading="lazy" alt="clock icon" />
                                    <div class="time-text">20 - 25 Min</div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div id="w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9"
                                data-w-id="8ffb550a-e009-04d3-1acc-15e35ddfe294" class="dish-inner-block">
                                <div id="w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9" class="dish-image"><img
                                        src="../asset/images/meat.jpg"
                                        loading="lazy"
                                        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                        alt="Roasted lamb rump"
                                        sizes="(max-width: 479px) 97.359375px, (max-width: 991px) 22vw, 23vw"
                                        srcset="../asset/images/meat.jpg 500w, ../asset/images/meat.jpg 612w"
                                        class="dish-img" />
                                    <div class="dish-tag">Dinner</div>
                                </div>
                                <h4 class="dish-inner-title">Roasted lamb rump</h4>
                                <div class="time-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62480687056b7f14f2e440e8_time.svg"
                                        loading="lazy" alt="clock icon" />
                                    <div class="time-text">45 - 50 Min</div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div id="w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9"
                                data-w-id="8ffb550a-e009-04d3-1acc-15e35ddfe294" class="dish-inner-block">
                                <div id="w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9" class="dish-image"><img
                                        src="../asset/images/fork.png"
                                        loading="lazy"
                                        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                        alt="Pan seared sea bass"
                                        sizes="(max-width: 479px) 97.359375px, (max-width: 991px) 22vw, 23vw"
                                        srcset="../asset/images/fork.png 500w, ../asset/images/fork.png 612w"
                                        class="dish-img" />
                                    <div class="dish-tag">Breakfast</div>
                                </div>
                                <h4 class="dish-inner-title">Pan seared sea bass</h4>
                                <div class="time-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62480687056b7f14f2e440e8_time.svg"
                                        loading="lazy" alt="clock icon" />
                                    <div class="time-text">35 - 40 Min</div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div id="w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9"
                                data-w-id="8ffb550a-e009-04d3-1acc-15e35ddfe294" class="dish-inner-block">
                                <div id="w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9" class="dish-image"><img
                                        src="../asset/images/sweet.png"
                                        loading="lazy"
                                        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                        alt="Citrus cured salmon"
                                        sizes="(max-width: 479px) 97.359375px, (max-width: 991px) 22vw, 23vw"
                                        srcset="../asset/images/sweet.png 500w, ../asset/images/sweet.png 612w"
                                        class="dish-img" />
                                    <div class="dish-tag">Dinner</div>
                                </div>
                                <h4 class="dish-inner-title">Citrus cured salmon</h4>
                                <div class="time-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62480687056b7f14f2e440e8_time.svg"
                                        loading="lazy" alt="clock icon" />
                                    <div class="time-text">10 - 22 Min</div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div id="w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9"
                                data-w-id="8ffb550a-e009-04d3-1acc-15e35ddfe294" class="dish-inner-block">
                                <div id="w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9" class="dish-image"><img
                                        src="../asset/images/strawberry.png"
                                        loading="lazy"
                                        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                        alt="STUFFED STRAWBERRY"
                                        sizes="(max-width: 479px) 97.359375px, (max-width: 991px) 22vw, 23vw"
                                        srcset="../asset/images/strawberry.png 500w, ../asset/images/strawberry.png 612w"
                                        class="dish-img" />
                                    <div class="dish-tag">Dinner</div>
                                </div>
                                <h4 class="dish-inner-title">STUFFED STRAWBERRY</h4>
                                <div class="time-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62480687056b7f14f2e440e8_time.svg"
                                        loading="lazy" alt="clock icon" />
                                    <div class="time-text">20 - 25 Min</div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div id="w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9"
                                data-w-id="8ffb550a-e009-04d3-1acc-15e35ddfe294" class="dish-inner-block">
                                <div id="w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9" class="dish-image"><img
                                        src="../asset/images/plate.png"
                                        loading="lazy"
                                        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                        alt="MUSSELS SOUP"
                                        sizes="(max-width: 479px) 97.359375px, (max-width: 991px) 22vw, 23vw"
                                        srcset="../asset/images/plate.png 500w, ../asset/images/plate.png 612w"
                                        class="dish-img" />
                                    <div class="dish-tag">Dinner</div>
                                </div>
                                <h4 class="dish-inner-title">MUSSELS SOUP</h4>
                                <div class="time-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62480687056b7f14f2e440e8_time.svg"
                                        loading="lazy" alt="clock icon" />
                                    <div class="time-text">20 - 25 Min</div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div id="w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9"
                                data-w-id="8ffb550a-e009-04d3-1acc-15e35ddfe294" class="dish-inner-block">
                                <div id="w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9" class="dish-image"><img
                                        src="../asset/images/spag.png"
                                        loading="lazy"
                                        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                        alt="ITALIAN SPAGHETTI"
                                        sizes="(max-width: 479px) 97.359375px, (max-width: 991px) 22vw, 23vw"
                                        srcset="../asset/images/spag.png 500w, ../asset/images/spag.png 612w"
                                        class="dish-img" />
                                    <div class="dish-tag">Dinner</div>
                                </div>
                                <h4 class="dish-inner-title">ITALIAN SPAGHETTI</h4>
                                <div class="time-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62480687056b7f14f2e440e8_time.svg"
                                        loading="lazy" alt="clock icon" />
                                    <div class="time-text">20 - 25 Min</div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div id="w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9"
                                data-w-id="8ffb550a-e009-04d3-1acc-15e35ddfe294" class="dish-inner-block">
                                <div id="w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9" class="dish-image"><img
                                        src="../asset/images/remain.png"
                                        loading="lazy"
                                        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                        alt="GRILLED FISH"
                                        sizes="(max-width: 479px) 97.359375px, (max-width: 991px) 22vw, 23vw"
                                        srcset="../asset/images/remain.png 500w, ../asset/images/remain.png 612w"
                                        class="dish-img" />
                                    <div class="dish-tag">Dinner</div>
                                </div>
                                <h4 class="dish-inner-title">GRILLED FISH</h4>
                                <div class="time-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62480687056b7f14f2e440e8_time.svg"
                                        loading="lazy" alt="clock icon" />
                                    <div class="time-text">20 - 25 Min</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stats-section wf-section"><img
            src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/624811587fb7c94cadb04a29_counter-gradient.svg"
            loading="lazy" alt="Background Gradient" class="counter-bg" />
        <div class="container w-container">
            <div class="counter-wrapper">
                <div id="w-node-b669178c-9b44-c078-3fed-ad04305c8801-d2e400f9" class="div-block">
                    <div id="w-node-_4420e09f-6147-869a-586f-eee30d79f061-d2e400f9" class="counter-block">
                        <h2>14</h2>
                        <div class="counter-text">Restaurants</div>
                    </div>
                    <div>
                        <h2>20</h2>
                        <div class="counter-text">Chef in Kitchen</div>
                    </div>
                </div>
                <div id="w-node-df0f4792-ec39-be31-5bbb-5628787feb59-d2e400f9" class="counter-image"><img
                        src="../asset/public/soup.png"
                        loading="lazy" width="500.5" data-w-id="b6d7e607-5920-d7f2-7a4f-e13e7e190b17" alt="Counter Image" /></div>
                <div id="w-node-_5171f11a-0761-4927-6b0d-aa04d0fa19e9-d2e400f9">
                    <div id="w-node-_5171f11a-0761-4927-6b0d-aa04d0fa19ea-d2e400f9" class="counter-block">
                        <h2>08</h2>
                        <div class="counter-text">Years of Experience</div>
                    </div>
                    <div>
                        <h2>200</h2>
                        <div class="counter-text">Food Dishes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-section wf-section">
        <div class="container w-container">
            <div id="team">
                <div class="title-block">
                    <h2>Our Team</h2>
                    <p>Morbi in sed enim viverra aenean amet. A commodo nunc mauris, in accumsan facilisi montes, neque
                        venenatis.</p>
                </div>
                <div class="team-wrapper">
                    <div id="w-node-_7190766e-ad18-3ebd-aca6-0221bb57fd90-d2e400f9"><img
                            src="../asset/public/man.png"
                            loading="lazy" width="220" alt="Team Member" class="member-image" />
                        <h4>Johnathan Tyler</h4>
                        <p class="member-designation">Founder &amp; Head Chef</p>
                    </div>
                    <div id="w-node-_7190766e-ad18-3ebd-aca6-0221bb57fd96-d2e400f9"><img
                            src="../asset/public/vision.png"
                            loading="lazy" width="220" alt="Team Member" class="member-image" />
                        <h4>Wade Warren</h4>
                        <p class="member-designation">Sous Chef</p>
                    </div>
                    <div id="w-node-_7190766e-ad18-3ebd-aca6-0221bb57fd9c-d2e400f9"><img
                            src="../asset/public/womanAvatar.png"
                            loading="lazy" width="220" alt="Team Member" class="member-image" />
                        <h4>Jay Rose</h4>
                        <p class="member-designation">Line Cooks</p>
                    </div>
                    <div id="w-node-_7190766e-ad18-3ebd-aca6-0221bb57fda2-d2e400f9"><img
                            src="../asset/public/man_avatar.png"
                            loading="lazy" width="220" alt="Team Member" class="member-image" />
                        <h4>Johnathan Tyler</h4>
                        <p class="member-designation">Prep Cooks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="reservation" class="reservation-section wf-section">
        <div class="container w-container">
            <div class="contact-wrapper">
                <div id="w-node-ac132c46-ef17-0ae5-b1c8-d7520c4bd826-d2e400f9"><img
                        src="../asset/public/leaves.png"
                        loading="lazy" width="586" alt="Food image" /></div>
                <div id="w-node-_1a8539a4-471a-a75e-bd47-15857e523872-d2e400f9" class="contact-block">
                    <h3>Make a Reservation</h3>
                    <p class="form-subtitle">For Further Questions, Please Call: 08019928848</p>
                    
                    <div class="form-block w-form">

                        <div class="w-form-fail" id="error-body">
                        </div>
                        <br>

                        <form id="reservation-form">

                            <div class="input-wrapper">
                                <input type="text" class="text-field w-input" maxlength="256" placeholder="First Name" id="firstName" required="" />
                                <input type="text" class="text-field w-input" maxlength="256" placeholder="Last Name" id="lastName" />
                                <input type="text" class="text-field w-input" maxlength="256" placeholder="Delivery Date" id="date" required="" />
                                <input type="text" class="text-field w-input" maxlength="256" placeholder="Delivery Time" id="time" required="" />
                                <input type="email" class="text-field w-input" maxlength="256" placeholder="Email" id="email" required="" />
                                <input type="text" class="text-field w-input" maxlength="256" placeholder="Phone No" id="phoneNum" required="" />
                            </div>
                                <button class="primary-btn arrow w-button">Reserve Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="review" class="review-section wf-section">
        <div class="container w-container">
            <div class="title-block mb60">
                <h2>Customers Review</h2>
                <p>Morbi in sed enim viverra aenean amet. A commodo nunc mauris, in accumsan facilisi montes, neque
                    venenatis.</p>
            </div>
            <div data-delay="4000" data-animation="slide" class="review-slider w-slider" data-autoplay="false"
                data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
                data-nav-spacing="3" data-duration="500" data-infinite="true">
                <div class="r-slider-mask w-slider-mask">
                    <div class="slide w-slide">
                        <div class="review-block"><img
                                src="../asset/public/smile.png"
                                loading="lazy" width="80" alt="Customer Image" class="avtar" />
                            <blockquote class="block-quote">Morbi nulla nec dui lacus, in. Libero in pretium metus
                                massa. Sodales dignissim vitae mauris varius faucibus. Eleifend dui, non laoreet ac
                                luctus facilisis diam. Enim scelerisque vel at id viverra tellus.</blockquote>
                            <div class="rating-block">
                                <div>Jane Cooper</div><img
                                    src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62482127a9ff01c574775888_rate.svg"
                                    loading="lazy" alt="star image" />
                            </div>
                        </div>
                    </div>
                    <div class="slide w-slide">
                        <div class="review-block"><img
                                src="../asset/public/womanAvatar.png"
                                loading="lazy" width="80" alt="Customer Image" class="avtar" />
                            <blockquote class="block-quote">Tortor vel nunc netus pharetra enim, enim dolor mauris in.
                                Sit nam fringilla in egestas. Libero condimentum quis in vulputate adipiscing venenatis
                                augue. Venenatis faucibus.</blockquote>
                            <div class="rating-block">
                                <div>Esther Howard</div><img
                                    src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62482127a9ff01c574775888_rate.svg"
                                    loading="lazy" alt="star image" />
                            </div>
                        </div>
                    </div>
                    <div class="slide w-slide">
                        <div class="review-block"><img
                                src="../asset/public/man2.png"
                                loading="lazy" width="80" alt="Customer Image" class="avtar" />
                            <blockquote class="block-quote">Sit lacus enim enim donec porttitor quis at consequat. Ut ut
                                et erat nunc quisque ut. Ullamcorper in sit lectus nisi, leo diam volutpat vitae. Amet
                                sed sem cursus facilisi amet suscipit.</blockquote>
                            <div class="rating-block">
                                <div>Guy Hawkins</div><img
                                    src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62482127a9ff01c574775888_rate.svg"
                                    loading="lazy" alt="star image" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-arrow left w-slider-arrow-left"><img
                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/62482462c2475a36abf02331_left arrow.svg"
                        loading="lazy" alt="button arrow" /></div>
                <div class="slider-arrow right w-slider-arrow-right"><img
                        src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/6248246328d1e86dcce7b41e_right arrow.svg"
                        loading="lazy" alt="button arrow" /></div>
                <div class="d-none w-slider-nav w-round"></div>
            </div>
        </div>
    </div>
    <div class="footer wf-section">
        <div class="container w-container">
            <div class="footer-top"><img
                    src="https://uploads-ssl.webflow.com/6236be9ba964064c0ce400f8/623c84bf68a61e15ee728c95_Foody.svg"
                    loading="lazy" alt="Logo" class="footer-logo" />
                <div>
                    <p class="footer-text">12, Dummy Avenue Lagos, Nigeria</p>
                    <p class="footer-text">Open : 09:00 Am - 01:00 PM</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../View/jquery/js/jquery-3.5.1.min.dc5e7f18c8181a.js"
        type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="../asset/public/js/index.js"
        type="text/javascript"></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>